# Object files
/cli/Debug
/cli/Release
*.o
*.ko
*.obj
*.elf
*.iobj
*.ipdb

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Temp and debugging files
*.opensdf
*.sdf
*.cachefile
*.ilk
*.pdb

# Executables
*.exe
*.out
*.app

# User setting files
*.vcxproj.user
*.VC.opendb
*.suo
